/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    color: #fff;
}

/* Navigation Styles */
nav {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Main Styles */
main {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: #007bff;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

/* List Item Styles */
li {
    list-style-type: disc;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

/* Add your styles for the contact form here */

.form-container {
    width: 50%;
    margin: auto;
}

fieldset {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
